# cache files
*cache*

# Virtual environment
venv

# Dataset folder expect the dataset entry point
dataset/*
!dataset/*.json

data_processed/*
scripts/img*
# Output folder for generated artifacts (images, etc.)
output

.vscode
